<footer id="site-footer">
  <div class="container">
    <div class="h5 pt-4">{{ site.title | escape }}</div>

    <div class="row">
      <div class="col col-lg-3">
        <ul class="list-unstyled">
          <li class="text-secondary">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      {% if site.footer_icons %}
      <div class="col-6 col-lg-3">
        <ul class="list-unstyled">
          {% for footer_icon in site.footer_icons %}
            <li>
              <a href="{{ footer_icon.url }}">
                {% if footer_icon.icon %}
                {% capture icon %}{% include {{footer_icon.icon}} %}{% endcapture %}
                <span class="align-middle text-secondary pr-2">{{ icon | strip }}</span>{% endif %}<span>{{ footer_icon.username }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-12 col-lg">
        <p class="text-secondary text-justify">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
</footer>
{% if site.include_bsscripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
{% endif %}
